section,header,article,nav{
	display:block;
}
*{
	padding:0px;
	margin:0px;
}
body{
	margin:1em 10%;
	background-image:url(../images/background.gif);
	background-attachment:fixed;
	background-position:top left;
	background-repeat:repeat-x;
	max-width:80em;
}
header{
	background-image:url(../images/guitarist.gif);
	background-repeat:no-repeat;
	background-position:bottom right;
	border-width:0;
	border-style:solid;
    border-bottom-width:0px;
}
header nav{
	background-image:url(../images/aaa.png);
	background-position:bottom left;
	background-repeat:repeat-x;
	border-width:.1em;
	border-style:solid;
	border-bottom-width:0px;
	border-top-width:0px;
	padding-left:10%;
}
header nav ul{
	width:100%;
	overflow:hidden;
	border-left-width:.1em;
	border-left-style:solid;
}
header nav li{
	display:inline;
}
header nav li a{
	display:block;
	float:left;
	padding:.5em 2em;
	border-right:.1em solid;
}
article{
	border-width:.1em;
	border-style:solid;
	border-top-width:0px;
	padding:2em 10%;
	line-height:1.8em;
}
article img{
	border-width:.1em;
	border-style:solid;
	outline-width:.1em;
    outline-style:solid;
}
header nav a.here:link,header nav a.here:visited,
header nav a.here:hover,header nav a.here:active{
    color:#eef;
    background-color:#779;
}
/*add new style*/
#about header{
    background-image:url();
}
#photos header{
    background-image:url();
}
#live header{
    background-image:url();
}
#contact header{
    background-image:url();
}
#slideshow{
	position:relative;
	width:150px;
	height:150px;
	overflow:hidden;
}
#preview{
	position:absolute;
	border-width:0;
	outline-width:0;
}
#imagegallery li{
    display:inline;
}